<h1>Welcome to the Choose Your Own Adventure Creator</h1>
<ul>
  <li><h2>Click <%= link_to "here", chapter_path(@chapter) %> to begin the adventure.</h2></li>
  <li><h2>Click <%= link_to "here", chapters_path %> to see a list of all the chapters written so far.</h2></li>
</ul>
